@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(/images/background.jpeg);
  background-size: cover;
  min-height: 100vh;
}

h1{
  font-size: 3rem;
  color:#004695;
}
section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 90%;
  max-width: 1300px;
  margin: auto;
  top: 5%;
  bottom: 5%;
  left: 0;
  right: 0;
  font-family: 'Beth Ellen', cursive;
  font-size: 1rem;
  color: #26090e;
  border-radius: .5rem;
  padding: 2rem;
}
.home, .aboutme {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 90%;
  max-width: 1300px;
  margin: auto;
  position: absolute;
  top: 5%;
  bottom: 5%;
  left: 0;
  right: 0;
  font-family: 'Beth Ellen', cursive;
  font-size: 1rem;
  color: #080000;
  border-radius: .5rem;
  padding: 2rem;
}

ul, form {
  font-family: 'Zen Maru Gothic', sans-serif;
}

.botonVolver {
  position: absolute;
  left: 2rem;
  top: 2rem;
  border: none;
}